{% extends 'registation_base.html' %}

{% block content %}
    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center;col justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form method="post" class="from-group">
                                <p>The activation link you have supplied is invalid or has already been activated</p>
                                <p>Please contact support if assistance is required</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}