{% extends 'registation_base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center;col justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">Login</div>
                        <div class="card-body">
                            <form method="post" class="from-group">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <p>Don't have an account? Create one <a href="/registration">here</a></p>
                                <button type="submit" class="btn btn-success">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}